/* Styles del registro */

.container {
	width: 100%;
}
.header {
	border-bottom: solid 1px;
}
.titulo-principal {
	text-align: center;
	margin-bottom: 35px;
	margin-top: 35px;
	color: white;
}
.caja-formulario {
	margin-top: 20px;
	text-align: center;
	color: white;
}
.titulo-formulario {
	border-bottom: 0px solid;
	font-size: 25px;
	color: white;
}
.datos-input {
	margin-top: 15px;
	margin-bottom: 15px;
}
.texto-que-dice-gratis {
	margin-top: 10px;
	margin-bottom: 35px;
}
.unico-h3 {
	font-size: 20px;
}
.unico-h4 {
	margin-top: 20px;
}
.caja-boton-enviar {
	margin-top: 35px;
	border-bottom: 1px solid;
	color: black;
}
.boton-enviar {
	margin-bottom: 20px;
}
.unico-checkbox {
	margin-top: 35px;
}
.input-usuario {
margin-left: 24px;
color: black;
}
.input-contraseña {
margin-left: 70px;
color: black;
}
.input-confirm-contraseña {
margin-left: 8px;
color: black;
}
.input-email {
margin-left: 108px;
color: black;
}
.input-confirm-email {
margin-left: 44px;
color: black;
}
.input-nombre {
margin-left: 94px;
color: black;
}
.input-apellido {
margin-left: 93px;
color: black;
}
.error {
	color: red;
}             

/* Principales estilos Mobile Friendly */
/* Styles del index */


* {
	box-sizing: border-box;
}

/* Globales */
body {
	background-image: url("../images/background.jpg");
}

li {
	list-style-type: none;
}

ul {
	padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


.container {
  width: 991px;
}

/* Nav Bar */

.botones {
  display: block;
  text-align: center;
  padding: 3%;
  background-color: grey;
}

.navbar {
  text-align: center;
}

.banner {
  margin-bottom: 10%;
}

.producto {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 4%;
}

.titulo {
  color: white;
  margin-top: 7%;
}

.letras-footer {
	color: white;
	font-size: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.iconos-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.img-footer {
	width: 5%;
	height: 12%;
	margin-left: 1%;
}

.footer-g {
	background-color: #476b6b;
	padding-top: 7%;
	padding-bottom: 5%;
}



@media (min-width: 992px) {
  .container {
    width: 1200px;
  }
	.navbar {
		display: flex;
		justify-content: space-between;
		height: 120px;
	}
  .botones {
    display: inline;
  }
  .banner {
    margin-top: 10px;
		margin-bottom: 80px;
  }
  .botones {
		padding: 32px;
		padding-left: 100px;
		padding-right: 100px;
  }
  .botones-g {
    width: 1200px;
		align-items: center;
		display: flex;
		justify-content: space-around;
  }
	.logotipo {
		width: 100px;
		margin-left: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.producto-g {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

	}
	.producto {
		width: 50%;
	}

}

@media (min-width: 1200px) {
	.container {
		width: 100%;
	}

	.navbar {
		display: flex;
		justify-content: space-around;
	}
	.Banner {
		display: flex;
		justify-content: space-around;
	}
}
