                /* Principales estilos Mobile Friendly */

* {
	box-sizing: border-box;
}

/* Globales */
body {
	background-image: url("../images/background.jpg");
}

li {
	list-style-type: none;
}

ul {
	padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


.container {
  width: 991px;
}

/* Nav Bar */

.botones {
  display: block;
  text-align: center;
  padding: 3%;
  background-color: grey;
}

.navbar {
  text-align: center;
}

.banner {
  margin-bottom: 10%;
}

.producto {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 4%;
}

.titulo {
  color: white;
  margin-top: 7%;
}

.letras-footer {
	color: white;
	font-size: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.iconos-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.img-footer {
	width: 5%;
	height: 5%;
	margin-left: 1%;
}

.footer-g {
	background-color: #476b6b;
	padding-top: 7%;
	padding-bottom: 5%;
}



@media (min-width: 992px) {
  .container {
    width: 1200px;
  }
	.navbar {
		display: flex;
		justify-content: space-between;
		height: 120px;
	}
  .botones {
    display: inline;
  }
  .banner {
    margin-top: 10px;
		margin-bottom: 80px;
  }
  .botones {
		padding: 32px;
		padding-left: 100px;
		padding-right: 100px;
  }
  .botones-g {
    width: 1200px;
		align-items: center;
		display: flex;
		justify-content: space-around;
  }
	.logotipo {
		width: 100px;
		margin-left: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.producto-g {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

	}
	.producto {
		width: 50%;
	}

}

@media (min-width: 1200px) {
	.container {
		width: 100%;
	}

	.navbar {
		display: flex;
		justify-content: space-around;
	}
	.Banner {
		display: flex;
		justify-content: space-around;
	}
}
